:root {
  --light: #ffffff;
  --dark: #292929;
  --text: #8a8686;
}

.content {
  background-color: #000000;
  color: var(--light);
  font-family: "Oswald", sans-serif;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--dark);
  color: var(--light);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Center the Sidebar Menu Text */
.sidebar-heading {
  text-align: center;
  border-bottom: solid var(--light) 1px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: var(--light);
  padding: 16px;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar-heading {
    border-bottom: none;
    margin-top: 10px;
  }

  .works-image-left,
  .works-image-right {
    width: 100%;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  div.resume-container {
    width: 40vw;
  }

  .contact-text {
    width: 100%;
  }
}

/* Align header and image to the center of the page and apply spacing */
.head-container {
  text-align: center;
  margin-top: 5vh;
}

#main-image {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#name {
  font-size: 72px;
  margin-bottom: 4vh;
}

#title {
  font-size: 21px;
  margin-bottom: 2vh;
}

/* About section styling */
.about-container {
  margin-top: 10vh;
}

.main-text {
  color: var(--text);
  margin: 2vh 0 15vh 0;
}

/* Skills Section */
* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.html {
  width: 95%;
  background-color: #04aa6d;
}
.css {
  width: 90%;
  background-color: #2196f3;
}
.bs {
  width: 90%;
  background-color: #f54337;
}
.js {
  width: 80%;
  background-color: #808080;
}

.skill-text {
  color: var(--text);
  text-align: center;
  margin: 15px 0 15px 0;
}

#about,
#skill,
#work,
#resume,
#contact {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Works Section */

#work,
#resume {
  margin-top: 15vh;
}

.works-image-right,
.works-image-left {
  width: 40%;
  height: 400px;
}

.text-right,
.text-left {
  color: var(--text);
  width: 55%;
  margin-left: 5px;
}

.live-site {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid var(--text) 2px;
}

.works-image-left {
  margin-right: 0;
  margin-left: auto;
}

.row {
  margin-bottom: 75px;
}

/* Resume Section */
.resume-container {
  margin: 5vh 0 5vh 0;
  border: solid var(--light) 2px;
  width: 11vw;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-color: var(--text);
  color: var(--dark);
}

a:link {
  color: var(--dark);
}

/* Contact Section */
.contact-text {
  font-size: 20px;
  color: var(--text);
  margin: 2vh 5vw 0 0;
}
